apiVersion: 1

datasources:
  - name: InfluxDB
    type: influxdb
    access: proxy
    url: http://influxdb:8086
    isDefault: true
    jsonData:
      version: Flux
      organization: crypto
      defaultBucket: binance_data
      tlsSkipVerify: true
    secureJsonData:
      token: my-super-secret-admin-token
    editable: true


